.hero.is-dark {
    background-color: #2d2d2d;
}

.hero h1.title {
    margin-bottom: 0.5rem !important;
}

.card .title {
    font-size: 1.6rem;
}

.card {
    background-color: #3b3b3b;
    background-color: #414141;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.card img {
    object-fit: cover;
    max-height: 150px;
}

.card-content {
    color: white;
}

.card-content p {
    color: white;
}

.card-image {
    padding: 0;
}

.button {
    border: none;
    background-color: #414141;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.button-orange {
    background-color: #ff5100;
}

.button:hover {
    background-color: #535353;
    box-shadow: 0px 0px 10px #d6d6d6;
    color: white;
    transform: translateY(-2px);
}

.button-orange:hover {
    background-color: #eb4e00;
}

html, body {
    position: relative;
    min-height: 100vh;
}

#main {
    padding: 2rem;
    padding-bottom: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: #eee;
    text-align: center;
}
  