.quiz_image {
    max-width: 30rem;
    max-height: 20rem;
    margin: auto;
    object-fit: contain;
}

.quiz_answer {
    justify-content: start;
    text-align: start;
    height: auto;
    white-space: normal;
}
