/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
// @import "../template/mixins";
// @import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(84,89,94);
$backgroundColor: radial-gradient(circle, rgba(84,89,94,1) 0%, rgba(35,38,40,1) 100%);
// $backgroundColor: #fff;

$primaryColor: #ff5100; 

$mainColor: #eee;
$headingColor: #eee;
// $mainColor: #222;
// $headingColor: #fff;

$mainFontSize: 30px;
$mainFont: 'Open Sans', sans-serif;
$linkColor: #ff3c00;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$headingMargin: 0 -0.2em 0.8em -0.2em;
$selectionBackgroundColor: $primaryColor;

$heading1Size: 2.0em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.reveal p {
text-align: left;
}
.reveal ul {
display: block!important;
}
.reveal ol {
display: block!important;
}

.reveal h4, .reveal h5, .reveal h6 {
    text-decoration: underline $primaryColor;
}

.reveal h1, .reveal h2, .reveal h3 {
    padding: 1rem;
    background-color: $primaryColor;
    border-radius: 8px;
}

.reveal ul li {
    list-style-type: "\2794  ";
}

.reveal div.hg {
    display: flex;
    justify-content: space-between;
}
.reveal div.hg > *:first-child {
    margin-right: 10px;
}
.reveal div.hg > *:not(:first-child) {
    margin: auto;
    display: block;
}

.reveal div.row-even {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reveal img {
  border-radius: 8px;
}

.reveal div.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    width: fit-content;
    gap: 15px 40px;
    margin-left: 40px;
}

.reveal div.grid-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
    width: fit-content;
    gap: 15px 40px;
    margin-left: 40px;
}

// Change text colors against light slide backgrounds
// @include light-bg-text-color(#222);


// Theme template ------------------------------
// @import "../template/theme";
// ---------------------------------------------


.reveal table {
    display: inline-block;
    vertical-align: top;
    margin: auto 40px;
}
.reveal table tr:nth-child(even) {background-color: #fff4;}
.reveal table tr {background-color: #fff2;}
.reveal table td {border: none; border-right: 1px #fff5 solid;}
.reveal table td:last-child {border: none;}

.reveal table.center td {
    text-align: center;
}

.reveal table.center th {
    text-align: center;
}

.reveal table.right td {
    text-align: right;
}

.reveal table.right th {
    text-align: right;
}

.reveal table.compact {
    font-size: 0.6em;
}

.reveal table.compacter {
    font-size: 0.4em;
}

// Mednarodna in slovenska tablica Ärkovanja
.reveal table.tc td:nth-child(even) {border-right: 1px white solid;}
.reveal table.tc td:nth-child(odd) {text-align:center;}
.reveal table.tc td:last-child {border: none;}

.reveal strong {
    color: $primaryColor;
}

.reveal blockquote {
    max-width: 90%;
    min-width: 70%;
    width: fit-content;
}

.reveal blockquote > p {
    margin: var(--r-block-margin);
}

.reveal o {
    text-decoration: underline;
    text-underline-offset: -0.9em;
}

.reveal img.white {
    background: white;
}

.reveal a.center-b {
    display: block;
    text-align: center;
}

.reveal .center-t > p {
    display: block;
    text-align: center;
}

.reveal .bold-t {
    font-weight: bold;
}

.reveal .img-stack img {
    // margin: auto;
    display: block;
}

.reveal img.mr-20 {
    margin-right: 20px !important;
}

.reveal img.mr-40 {
    margin-right: 40px !important;
}

.reveal img.mr-80 {
    margin-right: 80px !important;
}

.reveal img.round {
    border-radius: 50%;
}

.reveal .mt-20 {
    margin-top: 20px !important;
}

.reveal .mb-20 {
    margin-bottom: 20px !important;
}

.reveal div.w-50 {
    width: 45%;
}

.reveal .p-20 {
    padding: 20px;
}